.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
  height: 100px;
}

.title {
  margin-top: 0px;
  padding-top: 20px;
}

.description {
  margin-bottom: 0px;
}

.workspace {
  height: calc(100vh - 100px);
}

.controls {
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.controlButton {
  height: 36.5px;
}

.canvas {
  height: calc(100vh - 162px);
}

.node {
  height: 60px;
  min-width: 60px;
  position: absolute;
  cursor: move;
  border: 5px solid black;
  background: white;
  border-radius: 50%;
  padding: 1em;
  margin: auto;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.nodeText {
  color: black;
  margin: 0px;
}
