.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
  height: 100px;
}

.title {
  margin-top: 0px;
  padding-top: 20px;
}

.description {
  margin-bottom: 0px;
}

.workspace {
  height: calc(100vh - 100px);
}

.controls {
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid lightgrey;
}

.controlButton {
  height: 36.5px;
}

.canvas {
  height: calc(100vh - 320px);
}

.node {
  height: 100px;
  min-width: 100px;
  position: absolute;
  cursor: grab;
  border: 5px solid black;
  background: white;
  border-radius: 50%;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.nodeText {
  color: black;
  margin: 0px;
  cursor: grab;
}

.edgeLabel {
  font-size: 20pt;
  font-weight: bold;
  color: darkred;
  margin: 0;
}

.modeContainer {
  height: calc(100vh - 420px);
  display: flex;
  justify-content: left;
  align-items: flex-start;
}

.modeLabel {
  margin-top: 2px;
  margin-left: 4px;
  z-index: 5;
}

.edit {
  height: 154px;
  border-top: 2px solid lightgrey;
}

.editForm {
  display: flex;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
}

.instructionsContainer {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.instructionsLabel {
  font-size: 16pt;
  font-weight: bold;
  z-index: 5;
}

.shortestTitle {
  margin-top: 0px;
  margin-bottom: 0px;
}

.pathTitleContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
  margin-left: 10px;
  margin-right: 10px;
}

.pathDataContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
  margin-left: 10px;
  margin-right: 10px;
}

.pathDataLabel {
  margin-left: 0px;
  margin-right: 5px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: bold;
}

.pathValue {
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.pathNode {
  margin-top: 0px;
  margin-bottom: 0px;
}

.pathStep {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}